# List

$List item are odered, changable and allow duplicate values$

In [5]:
list1=['aman','nirmal','vishan']
print(len(list1))

3

In [7]:
print(type(list1))

<class 'list'>

In [9]:
const =list(('aman','vashd','hjds'))
print(const)

['aman', 'vashd', 'hjds']

In [11]:
print(list1[2])

vishan

In [21]:
print(list1[0:2])

['aman', 'nirmal']

- Range of indexes

In [23]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

$Check if Item Exists$

In [29]:
if 'apple' in thislist:
    print('Yoooo enjoy your apple')

else: 
    print('get lost')

Yoooo enjoy your apple

## Change Item Value ##

In [37]:
thislist = ["apple", "banana", "cherry"]
thislist[2]='aman'
print(thislist)

['apple', 'banana', 'aman']

In [ ]:
thislist=['aman','paudel','happy'

## For removing list item ##

- We can use the remove() method to remove the specific item

In [13]:
fruits=['apple', 'banana', 'mango']
fruits.remove('banana')
print(fruits)

['apple', 'mango']

## Pop method is used to remove the specific index##

In [22]:
fruits=['apple', 'banana', 'mango']
fruits.pop(1)
print(fruits)

['apple', 'mango']

$$ pop() remove the last index of the list $$

In [27]:
fruits=['apple', 'banana', 'mango']
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [29]:
fruits=['apple', 'banana', 'mango']
fruits.clear()
print(fruits)

[]

## loop list ##

In [34]:
fruits=['apple', 'banana', 'mango']
for x in fruits:
    print(x)

apple
banana
mango

In [40]:
fruits=['apple', 'banana', 'mango']
for x in range(len(fruits)):
    print(fruits[x])

apple
banana
mango

$ while loop $

In [48]:
fruits=['apple', 'banana', 'mango']
i =0
while i<len(fruits):
    print(fruits[i])
    i=i+1

apple
banana
mango

$ List comprehension $
- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [58]:
fruits=['apple', 'banana', 'mango' ,'cherry', 'kiwi']
vov =[]
for x in fruits:
    if 'a' in x:
        vov.append(x)

print(vov)

['apple', 'banana', 'mango']

In [68]:
fruits=['apple', 'banana', 'mango' ,'cherry', 'kiwi']
new = [ x for x in fruits if 'a' in x]
print(new)

['apple', 'banana', 'mango']

In [76]:
aman = [x for x in range(10)]
print(aman)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
fruits=['apple', 'banana', 'mango' ,'cherry', 'kiwi']
newlist=[x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'MANGO', 'CHERRY', 'KIWI']

In [84]:
fruits = ['apple', 'banana', 'cherry']
newlist = ['apple' for x in fruits]
print(newlist)

['apple', 'apple', 'apple']

$ sorting of the list $
- List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [86]:
fruits=['apple', 'banana', 'mango' ,'cherry', 'kiwi']
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

- Example
Sort the list numerically:

In [90]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [94]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

$$ Case Insensitive Sort $$

- Case sensitive sorting can give an unexpected result:

In [98]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

### THIS IS MISTAKE ###

- LUCKILY WE HAVE A BUILDIN FUNCTION THERE IS:

In [102]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key= str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

- So if you want a case-insensitive sort function, use str.lower as a key function:

$ Reverse Order $

- What if you want to reverse the order of a list, regardless of the alphabet?

In [109]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Copy Lists #

- Use the copy() method
We can use the built-in List method copy() to copy a list.

In [113]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
newlist = thislist.copy()
print(newlist)

['banana', 'Orange', 'Kiwi', 'cherry']

- Another method is by using the list:

In [118]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
newlist = list(thislist)
print(newlist)

['banana', 'Orange', 'Kiwi', 'cherry']

#
Use the slice Operator

- we can use the slice operator to copy the list:

In [122]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
newlist= thislist[:]
print(newlist)

['banana', 'Orange', 'Kiwi', 'cherry']

# Join Two Lists #

- There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator

In [132]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
list2 =  [1, 2 ,3]
newlist = thislist + list2
print(newlist)

['banana', 'Orange', 'Kiwi', 'cherry', 1, 2, 3]

- Or you can use the extend() method, where the purpose is to add elements from one list to another list:

In [139]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
list2 =  [1, 2 ,3]
thislist.extend(list2)
print(thislist)

['banana', 'Orange', 'Kiwi', 'cherry', 1, 2, 3]