## SET ##

- Set items are unordered, unchangeable, and do not allow duplicate values.

$$ Duplicates Not Allowed $$

- Duplicate values will be ignored:

- Set is not in ordered

In [14]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [16]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

- Note: The values False and 0 are considered the same value in sets, and are treated as duplicates:

In [19]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'cherry', 'apple', 'banana'}

- Get the Length of a Set

In [23]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [25]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'abc', 40, 'male'}

In [27]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [31]:
thissset = set(("aman","paudel","happy","man"))
print(thissset)

{'man', 'happy', 'aman', 'paudel'}

In [33]:
print(type(thissset))

<class 'set'>

# Access Set Items

- you cannot access items in a set by referring to an index or a key.

In [37]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
apple
banana

In [39]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

# Add Set Items

In [44]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'apple', 'banana'}

In [50]:


thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'mango', 'cherry', 'apple', 'pineapple', 'banana'}

In [52]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'orange', 'apple', 'banana', 'kiwi'}

# Remove Set Items

In [55]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [57]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [65]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

In [67]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
DEL keyword

In [69]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# Loop Items

In [72]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

# Join Sets #

- The union() method returns a new set with all items from both sets.

In [76]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [78]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'cherry', 'Elena', 'a', 'bananas', 'apple', 'c', 'John', 'b'}

In [80]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'cherry', 'Elena', 'a', 'bananas', 'apple', 'c', 'John', 'b'}

In [82]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'b', 'a'}

In [84]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

- The intersection() method will return a new set, that only contains the items that are present in both sets.

In [86]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [89]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [91]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

- The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [93]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'cherry', 'banana', 'microsoft'}

- Method	Shortcut	Description
- add()	 	Adds an element to the set
- clear()	 	Removes all the elements from the set
- copy()	 	Returns a copy of the set
- difference()	-	Returns a set containing the difference between two or more sets
- difference_update()	-=	Removes the items in this set that are also included in another, specified set
- discard()	 	Remove the specified item
- intersection()	&	Returns a set, that is the intersection of two other sets
- intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)
- isdisjoint()	 	Returns whether two sets have a intersection or not
- issubset()	<=	Returns whether another set contains this set or not
 -	<	Returns whether all items in this set is present in other, specified set(s)
- issuperset()	>=	Returns whether this set contains another set or not
 	>	Returns whether all items in other, specified set(s) is present in this set
- pop()	 	Removes an element from the set
- remove()	 	Removes the specified element
- symmetric_difference()	^	Returns a set with the symmetric differences of two sets
- symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
- union()	|	Return a set containing the union of sets
- update()	|=	Update the set with the union of this set and others