# TUPLES #

- Tuples are used to store multiple items in a single variable.

- Tuples are odered and unchangable

- They are written in round brackets

In [9]:
#ex:
thistuple =['aman', 'vishan', 'nirmal']
thistuple[0]= 'Sachin'
for thistuple in thistuple:
    print(thistuple)

Sachin
vishan
nirmal

In [9]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [11]:
print(len(thistuple))

5

- THis is tuple remember the comma:

In [13]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

- This is string

In [15]:
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

## Data Types

- Tuple can be of any data  types 
- string , interger , bool

In [17]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)
tuple1.count('apple')
print(len(tuple1))

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)
3

In [21]:
tuple1 = ("apple", "banana", "cherry")
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))
print(dir(tuple1))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [43]:
aman = tuple(('aman','paudel','hero'))
print(aman)

('aman', 'paudel', 'hero')

# Access the tuple items

- You can access tuple items by referring to the index number, inside square brackets:

In [47]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

- Negative Indexing

In [54]:
print(thistuple[-1])

cherry

In [56]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [58]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [60]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

# Check if Item Exists

In [63]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Update Tuples

- Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

$$ Change Tuple Values $$

- Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
- But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [73]:
thistuple = ("apple", "banana", "cherry")
list1 = list(thistuple)
list1[1]= 'syau'
print(list1)

['apple', 'syau', 'cherry']

- Tuple are unchangable but we can change the elements there by convertiing the tuples into the list and then chang`e the lemenet in tne list then we can convert them back into the tuples
- $ summary $

# Add Items

- Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.
- Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [80]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

$  Add tuple to a tuple $

-  Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [88]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

- We cannot remove the items in a tuples but we can convert them into a list and then remove the items then return back to the tuples

In [95]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove('banana')
print(y)

['apple', 'cherry']

- We can use del keyword to delete the tuple completely:

# Unpack Tuples`

- When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [102]:
fruits = ("apple", "banana", "cherry")

print(fruits)

('apple', 'banana', 'cherry')

In [104]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [106]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

# Using Asterisk*

- If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [114]:
tuples = ('aman','paudel' , 'hero','haraiya', 'boss')
(red , blue, *yellow) = tuples
print(red)
print(yellow)

aman
['hero', 'haraiya', 'boss']

- If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [118]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Loop

In [121]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
for i in fruits:
    print(i)

apple
banana
cherry
strawberry
raspberry

# While loop in tuples()

In [131]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
i =0
while i< len(fruits):

    print(fruits[i])
    i= i+1

apple
banana
cherry
strawberry
raspberry

# Join Tuples

In [1]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply the tuples

In [5]:
tuple1 = ("a", "b" , "c")
y = tuple1*2
print(y)

('a', 'b', 'c', 'a', 'b', 'c')

# Method

In [3]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2